<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand green-color" href="/">YUTRITION</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="/"><ul class="nav navbar-nav">
          <li><a href="/homepage">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Service</a></li>
        <li><a href="/subscription">Contact</a>
      </ul>
    </div>
  </nav>
 <h1 class="about-text">Contact Page</h1>
<main>
  <h2 class="about-text">Contact Number : 925-329-1782</h2>
<main>
  <h2 class="about-text">Email : boogbeez1@gmail.com</h2>
<main>
<h2 class="about-text">Address : 6886 Nation St.</h2>
<main>
  <h2 class="about-text">Give Us Your Contact Info!</h2>
<main>
    <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" width="90" height="90">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

     <label for="Email">Email</label>
    <input type="text" id="Email" name="Email" placeholder="enter your email..">                     

  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
  <li><a href="user.html">submit</a>
</body>
</html>
