<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Notifications </title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <h1 class="green-text">Notifications</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand green-color" href="/">YUTRITION</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="/"><a href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Service</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
<h2 class="green-text">Notifications on for YUTRITION?</h2>
      <label for="Notifications On?">Notifications</label>
    <select id="Notifications" name="Notifications">
      <option value="yes">yes</option>
      <option value="no">no</option>
      <option value="no, don't ask again">no, don't ask again</option>
    </select>
      <li><a href="subscription4.html">submit</a>
    </div>